<!-- Modal modify type schedul-->
<div class="modal fade" id="modalModifyDataArs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/type/modify" method="post">
                    {{ csrf_field() }}
                    <!-- <div class="form-group"> -->
                    <!-- <label>ID Type Schedul</label> -->
                    <input type="hidden" class="form-control" name="idars" id="idars" value="{{ old('idars') }}" placeholder="ID Type Schedule" readonly>
                    <!-- </div> -->
                    <div class="form-group">
                        <label>Type Schedule</label>
                        <input type="text" class="form-control" value="{{ old('peron') }}" name="peron" id="peron" placeholder="Platform" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary loading_schedule_edit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>